/*Created 2015-02-28 by the CodeCloud Team
This is a Saas file has an 'Asset Type' of SCSS. CSS will be compiled when saving.
For more information on asset types please see http://www.getcodecloud.com/docs#SaSS
*/
@import url('https://fonts.googleapis.com/css?family=Roboto');

@font-face {
	font-family: 'Roboto';
	src: url('//codecloud.cdn.speedyrails.net/sites/59d3dc256e6f6459f8960000//1507088676000/HelveticaNeueLTStd-Lt.eot');
	src: url('//codecloud.cdn.speedyrails.net/sites/59d3dc256e6f6459f8960000//1507088676000/HelveticaNeueLTStd-Lt.eot?#iefix') format('embedded-opentype'),
		url('//codecloud.cdn.speedyrails.net/sites/59d3dc256e6f6459f8960000/application/font-woff/1507088676000/HelveticaNeueLTStd-Lt.woff') format('woff'),
		url('//codecloud.cdn.speedyrails.net/sites/59d3dc256e6f6459f8960000//1507088676000/HelveticaNeueLTStd-Lt.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

/* COLOUR VARIABLES */
$primary: #066F97;
$primary_opac: rgba(6, 111, 151, .9);
$primary_shade: #004B68;
$accent: #6b6c70;

body {
    font-family: 'Roboto',sans-serif;
    font-size: 18px;
    line-height: 1.67;
    color: #4a4a4a;
    overflow-x: hidden;
    box-sizing: border-box;
}
h1 {
    font-family: Roboto;
	font-size: 30px;
}
h2 {
    font-family: Roboto;
    font-size: 24px;
}
h3 {
    font-size: 22px;
}
h4 {
    margin-top: 20px;
    font-size: 18px;
    line-height: 26.4px;
}
h5 {
    font-size: 13px;
    font-weight: 500;
}
a {
    color: #4a4a4a;
    transition: all 0.3s ease;
    &:hover {
        color: $primary;
    }
}
.content_container {
    margin: 0 auto;
    max-width: 1150px;
}
.hidden_now {
    display: none;
}
.show_phone {
    display: none;
}
.position_rel {
    position: relative;
}
.margin_20 {
    margin-bottom: 20px;
}
.margin_30 {
    margin-bottom: 30px;
}
.margin_60 {
    margin-bottom: 60px;
}
.caps {
    text-transform: uppercase;
}
.center {
    text-align: center;
}
.border_left {
    border-left: 1px solid #4a4a4a;
}
.border_right {
    border-right: 1px solid #4a4a4a;
}
.horizontal_div {
    border: solid 1px #979797;
}
.no_scroll{
    height: 100%;
    overflow: hidden;
    width: 100%;
}
#content {
    visibility: hidden;
}

/* *** LOADER *** */
.loader_backdrop {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1040;
    background-color: #000;
    opacity: 0.5;
}
.loader {
    margin: 30% auto;
    width: 1em;
    height: 1em;
    position: relative;
    border-radius: 50%;
    overflow: hidden;
    font-size: 90px;
    color: $primary;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    animation: load6 1.7s infinite ease, round 1.7s infinite ease;
}
@-webkit-keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@-webkit-keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes round {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

/* *** HEADER *** */
.header {
    width: 100%;
    position: absolute;
    top: 0;
    border-top: 3px solid $primary;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0px 0px 7px rgba(0,0,0,0.3);
    z-index: 999;
}
.social_header {
    border-bottom: 1px solid $accent;
}
.hours_container {
    padding-top: 7px;
    .todays_hours {
    	font-size: 12px;
    	color: #4a4a4a;
    }
    .view_holiday_hours {
    	font-size: 12px;
    	font-style: italic;
    	color: $primary;
    }
}
.social_container {
    padding-top: 7px;
    .fa {
        padding-left: 20px;
        font-size: 19px;
        color: $accent;
        transition: all 0.3s ease;
        &:hover {
            color: $primary;
        }
    }
}
.logo_container {
    padding-right: 10px;
    width: 150px;
    display: inline-block;
    border-right: 1px solid $accent;
    .logo {
        padding: 10px 10px 10px 10px;
        max-width: 100%;
        max-width: 150px;
    }
}
#mobile_search {
    display: none;
}
.site_search, #store_search_results {
    position: absolute;
    top: 21px;//6px;
    right: 0;
    z-index: 999;
}
.top_form_control {
    margin-bottom: 0;
    display: block;
    position: relative;
    font-family: inherit;
    line-height: normal;
    text-align: right;
    box-sizing: border-box  ;
}
.top_form_control input {
    padding-left: 10px;
    padding-right: 25px;
    width: 226px;
    height: 26px;
    font-size: 12px;
    color: #4a4a4a;
    background: #fff;//transparent;
    border: 1px solid $primary;
    border-radius: 0;
}
.top_form_control input::-webkit-input-placeholder {
    color: #4a4a4a;
}
.top_form_control input:focus {
    outline: #979797 solid 1px;
}
.top_form_control #search_icon {
    padding: 6px;
    width: 24px;
    position: absolute;
    top: 0;
    right: 0;
    border: 1px solid $primary;
    background: $primary;
    font-size: 12px;
    color: #fff;
}
#close_search {
    padding: 6px;
    width: 24px;
    position: absolute;
    top: 0;
    right: 0;
    display: none;
    border: 1px solid $primary;
    background: $primary;
    font-size: 12px;
    color: #FFF;
    cursor: pointer;
}
.site_search_results {
    width: 222px;
    background-color: #fff;
    padding: 0;
    border: 1px solid $primary;
    border-top: 0;
    display: none;
    list-style: none;
    font-size: 14px;
    z-index: 99;
    border-bottom:0;
    text-align: left;
    h2 {
        margin: 0;
        padding: 10px 12px;
        position: relative;
        border-bottom: 1px solid $primary;
        background: $primary;
        font-family: inherit;
        font-size: 12px;
        font-weight: 300;
        color: #FFF;
        cursor: pointer;
    }
    h4 {
        margin: 0;
        border-bottom: 1px solid $primary;
        font-size: 12px;
        line-height: normal;
        color: $primary;
    }
    a {
        display: block;
        padding: 10px 12px;
    }
}
.search_results {
    width: 100%;
    background-color: #fff;
    padding: 0;
    border: 1px solid #eee;
    border-top: 0;
    display: none;
    list-style: none;
    font-size: 14px;
    z-index: 99;
    border-bottom:0;
    text-align: left;
    h2 {
        padding: 10px 12px;
        border-bottom: 1px solid #eee;
        cursor: pointer;
        margin: 0;
        font-size: 14px;
        font-weight: 300;
        position: relative;
        background: #eee;
    }
    h4 {
        font-size: 14px;
        margin: 0;
        border-bottom: 1px solid #ccc;
    }
    a {
        padding: 10px 12px;
        display: block;
        color: inherit;
    }
}

/* DESKTOP NAV */
.nav_container {
    position: absolute;
    // top: 53px;
    // right: 0;
    top: 20px;
    right: 45px;
}
#primary_nav {
    margin: 0 auto;
}
#primary_nav ul {
    margin: 0 auto;
	padding: 0;
	height: 30px;
	list-style: none;
	position: relative;
	text-align: center;
}
#primary_nav ul .menu_item {
	margin: 0;
	padding: 5px 0;
	display: inline-block;
	position: relative;
    width: 100px;
    vertical-align: bottom;
    font-size: 12px;
    color: #4a4a4a;
    text-align: center;
}
#primary_nav ul .menu_item a {
	display: block;
	color: inherit;
	text-transform: uppercase;
	text-decoration: none;
	&:hover {
	    color: $primary;
	    text-decoration: underline;
	}
}
#primary_nav ul ul {
    padding: 5px 0;
    width: 140px;
    height: auto;
	display: none;
	position: absolute;
	top: 30px;
	left: 50%;
	-webkit-transform: translate(-50%, 0%);
    -ms-transform: translate(-50%, 0%);
    transform: translate(-50%, 0%);
	background: rgba(255, 255, 255, 0.8);
	z-index: 9999;
}
#primary_nav ul .menu_item ul .dropdown_item {
    padding: 5px 0;
	float: none;
	width: 140px;
	font-size: 12px;
	line-height: 26px;
}
#primary_nav ul ul .dropdown_item:hover {
    background: transparent;
}
#primary_nav ul .menu_item:hover > ul {
	display: block;
}

/* *** FOOTER *** */
.footer_nav {
    padding: 32px 0 36px 0;
    background: #ddd;
    p {
        font-size: 14px;
    }
    a:hover {
        text-decoration: none;
    }
    .footer_center {
        height: 405px;
        border-left: 1px solid #808084;
        border-right: 1px solid #808084;
    }
    .footer_nav_title {
        margin-top: 0;
        position: relative;
        text-align: center;
    }
    .footer_nav_title:after {
        content: " ";
        width: 32px;
        height: 2px;
        position: absolute;
        left: 50%;
        bottom: -5px;
        -webkit-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
        background-color: $primary;
    }
    .footer_address, .footer_logo {
        margin-bottom: 65px;
        text-align: center;
        img {
            max-width: 104px;
        }
    }
    .contest_btn {
        padding-top: 10px;
    }
    .footer_btn {
        margin: 0 auto;
        width: 250px;
        height: 48px;
        background: $primary;
        font-size: 14px;
        color: #FFF;
        transition: background 0.3s ease;
        .footer_btn_text {
            padding: 15px 0 0 30px;
            display: inline-block;
        }
        .footer_btn_icon {
            padding: 10px;
            width: 48px;
            height: 100%;
            display: inline-block;
            float: right;
            background: $primary_shade;
            text-align: center;
            transition: background 0.3s ease;
        }
        .fa {
            font-size: 24px;
        }
    }
    .footer_btn:hover {
        background: #FFF;
        color: $primary;
        .footer_btn_icon {
            background: #FFF;
        }
    }
    .footer_menu {
        margin: 0;
        padding: 0;
        li {
            margin-bottom: 15px;
            list-style-type: none;
            font-size: 14px;
            text-align: center;
        }
    }
    .footer_menu_right {
        padding-bottom: 6px;
    }
}
.footer {
    height: 28px;
    background: #d5d4d4;
    p {
        margin: 0;
        padding: 6px 0;
        font-size: 12px;
    }
}

/* *** HOME PAGE *** */
.flexslider {
    margin: 0;
    border: none;
    .banner_img {
        height: 550px;
        background-size: cover;
        background-position: center center;
    }
    .flex-control-nav {
        bottom: 10px;
    }
    .flex-control-paging li a {
        background: #FFF;
    }
    .flex-control-paging li a.flex-active {
        background: $primary;
    }
    .flex-direction-nav a {
        height: 60px;
    }
    .flex-direction-nav a:before {
        color: $primary_opac;
        text-shadow: none;
    }
}
.feature_container {
    margin: 0 auto;
    background: $primary;
}
.flex_container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
}
.width_30 {
    width: 33.33%;
    display: inline-block;
    transition: all 0.3s ease;
    &:hover {
        background: #066F97;
    }
    img {
        max-width: 100%;
    }
}
.width_50 {
    width: 50%;
    display: inline-block;
    img {
        max-width: 100%;
    }
}
.home_promos {
    padding: 0px 0 0 20px;
    .details_title {
        margin: 0;
    }
    .dine_container {
        margin-top: 20px;
        max-height: 563px;//475px;
        overflow-y: scroll;
    }
    .dine_container::-webkit-scrollbar-track {
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	    border-radius: 10px;
	    background-color: #F5F5F5;
    }
    .dine_container::-webkit-scrollbar {
	    width: 12px;
	    background-color: #F5F5F5;
    }
    .dine_container::-webkit-scrollbar-thumb {
	    border-radius: 10px;
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	    background-color: $primary;
    }
    .home_promo_store {
        margin: 0;
        // position: relative;
        font-size: 14px;
    }
    .home_promo_store:after {
        content: " ";
        width: 32px;
        height: 2px;
        position: absolute;
        left: 50%;
        bottom: -5px;
        -webkit-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
        background-color: $primary;
    }
    .home_promo_name {
        margin-top: 10px;
        
    }
    // .home_promo_name:after {
        content: " ";
        width: 32px;
        height: 2px;
        position: absolute;
        left: 50%;
        bottom: -5px;
        -webkit-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
        background-color: $primary;
    }
    h2:after {
        bottom: -7px;
        left: 50%;
        -webkit-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
    }
    .home_promo_dates, .home_promo_desc {
        margin: 0;
        margin-bottom: 10px;
        font-size: 14px;
        line-height: normal;
    }
    .home_read_more {
        font-size: 14px;
        text-decoration: underline;
    }
}
.home_see_all {
    font-size: 14px;
    color: $primary;
    a {
        color: inherit;
        text-decoration: underline;
    }
}
.instafeed_container {
    margin: 30px 0;
    #instafeed {
        margin: 0 -5px;
    }
    .insta_container {
        padding: 5px;
        max-height: 222px;
        width: 20%;
        display: inline-block;
        overflow: hidden;
        img {
            max-width: 100%;
            vertical-align: top;
        }
    }
}
.logo_scroll {
    margin: 0 auto;
    padding: 20px 0;
    max-width: 1150px;
    height: 200px;
}
#slider_container {
    width: 1150px !important;
    max-width: 1150px;
    height: 200px; 
    position: relative; 
    top: 0; 
    left: 0; 
    right: 0;
    overflow: hidden;
    div div {
        right: 0;
    }
    .logo_slides {
        width: 100%; 
        max-width: 1150px;
        height: 160px;
        position: absolute; 
        top: 0; 
        left: 0;
        right: 0;
        overflow: hidden;
        cursor: move; 
        img {
            -webkit-filter: grayscale(1);
	        -webkit-filter: grayscale(100%);
	        filter: gray;
	        filter: grayscale(100%);
            -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
            -webkit-backface-visibility: hidden; /* Fix for transition flickering */
        }
    }
}

/* *** INSIDE PAGES *** */
.inside_banner {
    margin: 0 auto;
    height: 250px;
    background-image: url(//codecloud.cdn.speedyrails.net/sites/5a53fafc6e6f645dbb0e0000/image/png/1510772889000/insidebannernew@2x.png);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: $primary;
    text-align: left;
    .inside_banner_content {
        padding-top: 150px;
        h1 {
            margin: 0;
            margin-top: 14px;
            position: relative;
            color: #FFF;
        }
        h1:after {
	        content: " ";
            width: 75px;
            height: 4px;
            position: absolute;
            left: 0;
            bottom: -10px;
            background-color: $primary;
        }
        a {
            color: $primary;
            transition: all 0.3s ease;
            &:hover {
                color: #FFF;
            }
            
        }
    }
}
.read_more {
    font-size: 18px;
    color: #4990e2;
    text-decoration: underline;
}
.details_title {
    position: relative;
    color: $primary;
}
.details_title:after {
    content: " ";
    width: 75px;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: $primary;
}  

/* *** CONTACT US *** */
.phone_pad {
    min-width: 70px;
    display: inline-block;
}
.form-control {
    margin-bottom: 20px;
    height: 60px;
    border: 1px solid #e6e9ee;
    font-size: 18px;
}
.contact_btn {
    margin: 30px 0;
    padding: 16px 0;
    width: 176px;
    height: 45px;
    float: right;
    border: none;
    background: $primary;
    font-size: 16px;
    line-height: normal;
    letter-spacing: 1px;
    color: #FFF;
    transition: background 0.3s ease;
    &:hover {
        background: $primary_shade;
    }
}

/* *** CONTESTS *** */
.contest_img {
    max-width: 100%;
}
#contest_form {
    label {
        font-weight: normal;
    }
    .form-control, {
        margin-top: 5px;
        margin-bottom: 25px;
        font-size: 16px;
    }
}
.help-block{
    margin-top: -24px;
    margin-bottom: 0;
    font-size: 14px;
}
.contest_agree {
    margin-bottom: 25px;
}
.contest_agree .help-block{
    margin-top: -5px;
    margin-bottom: 0;
    font-size: 14px;
}

/* *** HOURS *** */
.hours_div {
    font-size: 18px;
    line-height: 1.67;
    .day {
        width: 150px;
        display: inline-block;
    }
    .time {
        display: inline-block;
    }
}
.holiday_hours_div {
    font-size: 18px;
    line-height: 1.67;
    .day {
        display: inline-block;
    }
    .time {
        display: inline-block;
    }
}

/* *** JOBS *** */
.jobs_store_name {
    font-family: Roboto;
}

/* *** MAP *** */
.map_container {
    position: relative;
    height: 600px;
}

#mapView {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#mapList {
  position: absolute;
  top: 10px;
  left: 10px;
}

.locate_store{
    display: inline-block;
    padding: 10px 20px;
    border: 1px solid #000;
    position: absolute;
    z-index: 999999;;//z-index: 2;
    // left: 70px;
    // top: 60px;
    left: 27px;
    top: 15px;
    font-weight: bold;
    background: #f1f1f1;
}
.stores_table, .search_results_container{
    display:none;
}
#store_list_container_map{
    list-style: none;
    position: absolute;
    z-index: 999999;
    top: 100px;
    left: 70px;
    background: #fff;
    height: 280px;
    overflow: scroll;
    border: 1px solid;
    padding: 20px;
    li{
        margin-bottom: 5px;
    }
}

/* *** PAGES *** */
#mm_page_content {
    h3 {
       font-size: 22px;
       color: $primary;
    }
    a {
        color: $primary;
        text-decoration: underline;
    }
    img {
        max-width: 100%;
    }
}

.kids_club_container, .pages_container {
    h3 {
       font-size: 22px;
       color: $primary;
    }
    a {
        color: $primary;
        text-decoration: underline;
    }
    h2{
       color: $primary; 
    }
}

.tenant_select{
    select {
        width:100%;
        height:45px;
    }
}
/* *** PHOTOS *** */
.portfolio_item {
    margin-bottom: 20px;
    max-height: 370px;
    overflow: hidden;
    img {
        max-width: 100%;
    }
}

/* *** PROMOTIONS & EVENTS *** */
.promo_img_container {
    height: 205px;
    max-height: 205px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    overflow: hidden;
    .promo_img {
        max-width: 100%;
    }
}
.promo_content {
    margin: 30px 0 20px 0;
    height: 115px;
    max-height: 115px;
    .promo_name {
        margin: 0;
    }
    .promo_dates {
        margin: 10px 0;
        color: $primary;
    }
    .promo_desc {
        margin-bottom: 30px;
        font-size: 18px;
    	line-height: 1.11;
    	text-align: justify;
    	color: #4a4a4a;
    }
}
.grey_line {
    border-top: 1px solid #4a4a4a;
}
.promo_content:last-child .grey_line{
    border-top: none;
}
.additional_promos_title {
    position: relative;
    color: $primary;
}
.additional_promos_title:after {
    content: " ";
    width: 75px;
    height: 4px;
    position: absolute;
    left: 0;
    bottom: -10px;
    background-color: $primary;
}

/* *** PROMO DETAILS *** */
.promo_details_name {
    margin: 0;
}
.promo_details_dates {
    margin: 20px 0 30px 0;
    color: $primary;
}
.promo_details_img {
    max-width: 100%;
}
.promo_details_desc {
    margin-bottom: 30px;
    font-size: 18px;
	line-height: 1.56;
	text-align: justify;
	color: #4a4a4a;
}

/* *** STORE DIRECTORY *** */
.directory_btn {
    margin: 0 10px;
    padding: 9px 0;
    width: 176px;
    height: 45px;
    display: inline-block;
    border: 1px solid $primary;
    font-size: 16px;
    color: $primary;
    text-align: center;
    &:hover {
        background: $primary;
        color: #FFF;
    }
}
.directory_btn.active {
    background: $primary;
    color: #FFF;
}
.directory_back {
    display: none;
}
.category_select {
    padding: 0;
}
#dropdownMenuButton {
    padding: 0;
    width: 100%;
    height: 45px;
    border: none;
    background: none;
}
.open > .dropdown-menu {
    width: 174px;
    border-radius: 0;
    background: #ddd;
}
.dropdown-item {
    padding: 2px;
    text-align: center;
    color: #FFF;
}
.show_cat_stores {
    &:hover {
        color: $primary;
        cursor: pointer;
    }
}
.alpha_list_container {
    margin: 0 auto;
    max-width: 955px;
    hr {
        border-top: 1px solid #4a4a4a;
    }
    hr:first-child {
        margin-top: 30px;
    }
    hr:last-child {
        margin-bottom: 30px;
    }
}
.alpha_list {
    padding: 0 25px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    -webkit-box-pack: justify;
    justify-content: space-between;
    font-size: 20px;
    line-height: normal;
    a {
        color: #4a4a4a;
        transition: all 0.3s ease;
        &:hover {
            color: $primary;
        }
    }
}
.store_logo_container {
    // margin-bottom: 30px;
    // min-height: 165px;
    min-height: 165px;
    max-height: 165px;
    overflow: hidden;
    border: 1px solid #000;
    position: relative;
    transition: all 0.3s ease;
    font-size: 60px;
    color: #000;
    text-align: center;
    vertical-align: middle;
    .store_img {
        max-width: 100%;
        position: relative;
        -webkit-filter: grayscale(1);
	    -webkit-filter: grayscale(100%);
	    filter: gray;
	    filter: grayscale(100%);
        -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
        -webkit-backface-visibility: hidden; /* Fix for transition flickering */
    }
}
.store_logo_container:hover {
    border: 1px solid $primary;
    .store_img {
        max-width: 100%;
        position: relative;
        filter: none; /* IE6-9 */
        -webkit-filter: grayscale(0);
        -webkit-filter: grayscale(0%); /* Chrome 19+ & Safari 6+ */
        -webkit-transition: all .6s ease; /* Fade to color for Chrome and Safari */
        -webkit-backface-visibility: hidden; /* Fix for transition flickering */
    }
    .store_coming_soon {
        background: #FFF;
    }
    .new_store {
        color: $primary;  
    }
}
.store_logo_container.no_hover {
    background: transparent;
}
// .store_list_promos {
//     width: 100%;
//     position: absolute;
//     bottom: -30px;
//     text-align: center;
// }
.store_list_promos {
    margin-bottom: 30px;
    width: 100%;
    max-height: 30px;
    // position: absolute;
    // bottom: -30px;
    border: 1px solid $primary;
    background: $primary;
    text-align: center;
}
.store_coming_soon {
    position: absolute;
    top: 5px;
    right: -1px;
    width: 80%;
    height: 30px;
    background: $primary;
    transition: all 0.3s ease;
}
.phone_exist {
    font-size: 11px;
    color: #000;
    img {
        margin-right: 3px;
        max-width: 12px;
    }
}
.promo_exist {
    padding-left: 5px;
    font-size: 11px;
    color: #000;
    img {
        max-width: 12px;
    }
}
.new_store {
    margin: 0 20px;
    padding-top: 5px;
    font-size: 12px;
    color: #fff;
    line-height: 22px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    text-align: center;
}

/* *** STORE DETAILS *** */
.store_map_container {
    position: relative;
    height: 350px;
}
.store_details_logo {
    margin: 0 auto;
    margin-bottom: 30px;
    width: 195px;
    height: 195px;
    border: 2px solid #000;
    img {
        max-width: 100%;
    }
}
.store_detail_highlight {
    color: $primary;
}
.store_hours_container {
    padding: 10px 0;
}

@media (max-width: 1024px) {    
    .row {
        margin: 0;
    }
    .social_header {
        padding: 0 15px;
    }
    .nav_header {
        padding: 0 15px;
    }
    .flexslider .banner_img {
        height: 450px;
    }
    .home_promos .dine_container {  
        max-height: 435px;
    }
    .footer_nav {
        padding-left: 15px;
        padding-right: 15px;
        .footer_center:first-child {
            border-left: none;
        }
        .footer_center:last-child {
            border-right: none;
        }
    }
    .footer {
        padding-left: 15px;
        padding-right: 15px;
    }
    .store_logo_container {
        min-height: 139px;
    }
    .store_list_promos {
        bottom: -25px;
    }
    .phone_exist {
        display: none !important;
    }
    .portfolio_item {
        max-height: 320px;
    }
    // #contest_form {
    //     .form-control, {
    //         margin-top: 5px;
    //         margin-bottom: 35px;
    //         font-size: 16px;
    //     }
    // }
    .help-block{
        margin-top: -23px;
        margin-bottom: 0;
        font-size: 14px;
    }
    // .contest_agree {
    //     margin-bottom: 25px;
    // }
    // .contest_agree .help-block{
    //     margin-top: -23px;
    //     margin-bottom: 0;
    //     font-size: 14px;
    // }
}

/* Small devices (tablets, 768px and down) */
@media (max-width: 768px) {
    .content_container {
        max-width: 100%;
    }
    .row {
        margin: 0;
    }
    .hidden_phone {
        display: none !important;
    }
    .show_phone {
        display: inline-block;
    }
    .border_left {
        border-left: none;
    }
    .border_right {
        border-right: none;
    }
    .horizontal_div.show_phone {
        display: block !important;
    }
    .loader {
        margin: 50% auto;
    }
    .header {
        position: fixed;
    }
    #content {
        margin-top: 106px;
    }
    .social_header, .nav_header {
        padding: 0;
    }
    .logo_container {
        padding: 0 26px;
        width: 135px;
    }
    .site_search {
        top: 20px;
        right: 65px;
    }
    .top_form_control input {
        padding-right: 10px;
        width: 160px;
        height: 26px;
    }
    #menu-icon {
        width: 30px;
        position: absolute;
        top: 20px;
        right: 20px;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .5s ease-in-out;
        -moz-transition: .5s ease-in-out;
        -o-transition: .5s ease-in-out;
        transition: .5s ease-in-out;
        cursor: pointer;
    }
    #menu-icon span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: $primary;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }
    #menu-icon span:nth-child(1) {
        top: 0px;
    }
    #menu-icon span:nth-child(2),
    #menu-icon span:nth-child(3) {
        top: 10px;
    }
    #menu-icon span:nth-child(4) {
        top: 20px;
    }
    #menu-icon.open span:nth-child(1) {
        top: 18px;
        width: 0%;
        left: 50%;
    }
    #menu-icon.open span:nth-child(2) {
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
    }
    #menu-icon.open span:nth-child(3) {
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
    }
    #menu-icon.open span:nth-child(4) {
        top: 18px;
        width: 0%;
        left: 50%;
    }
    .nav_container {
        width: 100%;
        height: 500px;
        top: 61px;
        display: none;
        overflow-y: scroll;
        background: $primary_opac;
    }
    .nav_container::-webkit-scrollbar-track {
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	    border-radius: 10px;
	    background-color: #FFF;
    }
    .nav_container::-webkit-scrollbar {
	    width: 12px;
	    background-color: $primary_opac;
    }
    .nav_container::-webkit-scrollbar-thumb {
	    border-radius: 10px;
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	    background-color: #DDD;
    }
    #primary_nav {
        padding: 20px 0 0 20px;
        ul .menu_item {
            display: list-item;
            font-size: 14px;
            text-align: left;
            color: #FFF;
        }
        ul .menu_item a:hover, ul .menu_item a:active {
            color: #FFF;
        }
        ul ul {
            padding: 5px 0;
            width: 140px;
            display: inline-block;
            position: relative;
            top: 0;
            left: 90px;
            background: none;
        }
        ul .menu_item ul .dropdown_item {
            width: auto;
            font-size: 14px;
            text-align: left;
        }
    }
    .social_container {
        float: none !important;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        .fa {
            padding-left: 0;
            font-size: 27px;
        }
    }
    .footer_nav {
        padding-left: 48px;
        padding-right: 48px;
    }
    .footer_nav {
        .footer_center {
            height: auto;
            border-left: none;
            border-right: none;
        }
        .footer_address, .footer_logo {
            margin-bottom: 20px;
        }
        .footer_address {
            padding-top: 20px;
        }
        .contest_btn {
            padding-top: 0;
        }
        .footer_menu_left {
            padding-top: 20px;
        }
        .footer_menu_right {
            padding-bottom: 0;
        }
    }
    .footer {
        height: auto;
        text-align: center;
        .logo {
            margin: 30px auto 20px auto;
            max-width: 108px;
            display: block;
        }
    }
    .flexslider .banner_img {
        height: 350px;
    }
    .home_promos .dine_container {
        max-height: 270px;
    }
    .instafeed_container {
        #instafeed {
            margin: 0;
        }
        .insta_container {
            max-height: 144px;
        }
    }
    .inside_banner {
        margin-top: -106px;
    }
    .inside_banner .inside_banner_content h1 {
        text-align: center;
    }
    .inside_banner .inside_banner_content h1:after {
        bottom: -7px;
        left: 50%;
        -webkit-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
    }
    .directory_btn {
        width: 30%;
    }
    .directory_back {
        display: inline-block;
    }
    .store_logo_container {
        min-height: 160px;
    }
    .open>.dropdown-menu {
        width: 100%;
        left: 50%;
        -webkit-transform: translate(-50%, 0%);
        -ms-transform: translate(-50%, 0%);
        transform: translate(-50%, 0%);
    }
    .store_coming_soon {
        width: 90%;
    }
    .filter_row {
        margin-bottom: 20px;
    }
    .jobs_store_name, .jobs_name {
        margin-top: 0;
        margin-bottom: 10px;
    }
    .map_container {
        height: 700px;
    }
}

/* Mobile devices (420px and down) */
@media (max-width: 420px) {
    .footer_nav {
        .content_container {
            border-left: none;
            border-right: none;
        }
        .footer_nav_title {
            text-align: left;
        }
        .footer_nav_title:after {
            left: 16px;
        }
        .footer_address {
            text-align: left;
        }
        .footer_menu {
            margin-top: 30px;
            li {
                text-align: left;
            }
        }
        .footer_menu_left {
            padding-top: 0;
            width: 49%;
            display: inline-block;
        }
        .footer_menu_right {
            padding-left: 70px;
            width: 49%;
            display: inline-block;
            float: right;
        }
    }
    .flexslider .banner_img {
        height: 180px;
    }
    .flex_container {
        display: block;
        .width_50 {
            width: 100%;
            display: block;
            img {
                margin: 0 auto;
                display: block;
            }
        }
    }
    .flex_container {
        .width_30 {
            width: 100%;
        }
    }
    .instafeed_container {
        #instafeed {
            margin: 0;
        }
        .insta_container {
            width: 50%;
            max-height: 178px;
        }
        .insta_container:last-child {
            display: none;
        }
    }
    .directory_btn {
        margin-bottom: 30px;
        width: 80%;
    }
    .directory_btn:last-child {
        margin-bottom: 0;
    }
    .category_select {
        margin-top: 30px;
    }
    .alpha_list {
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
        a { 
            padding: 5px 9px;
        }
    }
    .store_logo_container {
        min-height: 156px;
    }
    .store_list_promos {
        bottom: -25px;
    }
    .map_container {
        height: 500px;
    }
}

@media (max-width: 320px) {
    .footer_nav {
        .footer_hours {
            .todays_hours {
                margin-top: 0;
                text-align: left;
            }
            .weekday {
                padding-right: 0;
                width: 80px;
            }
        }
        .footer_btn {
            width: 194px;
        }
        .footer_menu_right {
            padding-left: 30px;
        }
    }
    .store_logo_container {
        min-height: 128px;
    }
    .new_store {
        margin: 0 10px;
    }
}